<div class="mdl-layout__header-row">
  <!-- Title -->
  <span class="mdl-layout-title mdl-badge" data-badge="♥">IMDB TOP-20</span>
  <!-- Add spacer, to align navigation to the right -->
  <nav class="mdl-navigation mdl-layout--large-screen-only">
    <a class="mdl-navigation__link" ui-sref="home">Home</a>
    <a class="mdl-navigation__link" ui-sref="movies-by-years">By years</a>
    <a class="mdl-navigation__link" ui-sref="favorites">Favorites</a>
  </nav>
  <!-- Add spacer, to align navigation to the right -->
  <div class="mdl-layout-spacer"></div>
  <!-- Navigation. We hide it in small screens. -->
</div>
